.actions {
  margin-top: 1rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-right: 4px;
}

.actions button:hover {
  background-color: wheat;
  border-color: #873abb;
  color: #873abb;
}
.actions textarea {
  height: 10rem;
  width: 20rem !important;
}
.repliesContainer {
  display: grid;
  margin-top: 20px;
  justify-items: end;
  grid-gap: 20px;
  /* border: 1px solid red; */
  width: 55%;
  margin: 20px auto;
}
.replies {
  border-left: 1px solid wheat;
}

.body {
  background-color: wheat;
  color: #9f5ccc;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  padding: 0.5rem;
}
.body p {
  text-align: left !important;
}
.body h3 {
  text-align: left !important;
}
