.actions {
  margin-top: 1rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-right: 4px;
}

.actions button:hover {
  background-color: wheat;
  border-color: #873abb;
  color: #873abb;
}
.actions textarea {
  margin-top: 20px;
  height: 10rem;
  width: 20rem !important;
}
.repliesContainer {
  display: grid;
  margin-top: 20px;
  justify-items: end;
  grid-gap: 20px;
  /* border: 1px solid red; */
  width: 55%;
  margin: 20px auto;
}
.replies {
  border-left: 1px solid wheat;
}

.body {
  background-color: wheat;
  color: #9f5ccc;
  width: 40rem;
  margin: auto;
  border-radius: 5px;
  padding: 0.5rem;
}
.body p {
  text-align: left !important;
}
.body h3 {
  text-align: left !important;
}
.votes {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.votes button {
  padding: 5px;
  background-color: #9f5ccc;
  color: wheat;
  border: none;
  border-radius: 5px;
}
.votes button:hover {
  cursor: pointer;

  background-color: wheat;
  color: #9f5ccc;
}
.votes p:hover {
  cursor: pointer;
  color: white;
}

@media (max-width: 700px) {
  .body {
    width: 35rem;
  }
  .votes {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .actions textarea {
    height: 10rem;
    width: 20rem !important;
  }
}
@media (max-width: 615px) {
  .body {
    width: 32rem;
  }
}

@media (max-width: 560px) {
  .body {
    width: 26rem;
  }
  .votes {
    width: 64%;
  }
}

@media (max-width: 467px) {
  .body {
    width: 23rem;
  }
  .votes {
    width: 72%;
  }
}
@media (max-width: 412px) {
  .body {
    width: 20rem;
  }
  .votes {
    width: 84%;
  }
}

@media (max-width: 365px) {
  .body {
    width: 18rem;
  }
  .body p {
    font-size: 13px;
  }
  .body h3 {
    font-size: 16px;
  }
}
@media (max-width: 334px) {
  .body {
    width: 17rem;
  }
}
/* @media (max-width: 615px) {} */
/* @media (max-width: 615px) {} */
